<h2>User info</h2>
<table class="mb-3">
  <tbody>
    <tr>
      <%=image_tag @user.get_profile_image %>
    </tr>
    <tr>
      <th>name</th>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <th>introduction</th>
      <td><%= @user.introduction %></td>
    </tr>
  </tbody>
</table>

<%= link_to edit_user_path(@user), class: "btn btn-outline-secondary w-100 mt-4" do %>
  <i class="fa-solid fa-user-gear"></i>
<% end %>