<div>
  <%= flash[:notice]%>
</div>
<div class="container">
  <div class="row">
    <div class ="col-md-3">
      <%= render "user_info", user:@user %>
      <%= render "books/new_book", book:@new_book %>
    </div>

    <%= render "books/index_book", books: @books, user: @user %>

  </div>
</div>
 