// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



.table-header{
  padding: 12px;
  font-weight: bold;
}

.table-body{
  padding: 12px;
}

.header-row{
  border-top: 1px solid rgb(222, 226, 230);
  border-bottom: 1px solid rgb(222, 226, 230);
}

.body-row{
  border-top: 1px solid rgb(222, 226, 230);
}